/* NavStyle.css */

.custom-navbar {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-navbar-brand {
  font-family: 'Arial', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ff6403;
}

.custom-nav-link {
  font-family: 'Arial', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff; /* Slightly darker color for links */
  transition: color 0.3s ease;
}

.custom-nav-link:hover {
  color: #007bff; /* Bootstrap primary color on hover */
}

.custom-logout-button {
  font-family: 'Arial', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #dc3545; /* Bootstrap danger color */
  border: 1px solid #dc3545; /* Match the button border with text color */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-logout-button:hover {
  background-color: #dc3545; /* Bootstrap danger background on hover */
  color: #ffffff; /* White text on hover */
}

.profile-link {
  color: #007bff; /* Blue color for profile link */
}
